#
# Build the cv
#
name: Build
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1

      - name: Checkout
        uses: actions/checkout@v3

      - name: Install TinyTeX
        run: |          
          make install_tex
          echo "${HOME}/bin" >> $GITHUB_PATH

      - name: Install LaTeX packages
        run: |
          tlmgr update --self
          make install_packages

      - name: Build CV
        run: make

      - name: Prepare files for gh-pages
        run: |
          mkdir public
          mv cn/cv.pdf public/DTian_cv_cn.pdf
          mv en/cv.pdf public/DTian_cv_en.pdf

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.event_name == 'push'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          force_orphan: true
