#
# Build the cv
#
name: Build
on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Tectonic Cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/Tectonic
          key: ${{ runner.os }}-tectonic-${{ hashFiles('**/*.tex') }}
          restore-keys: |
            ${{ runner.os }}-tectonic-

      - name: Setup tectonic
        uses: wtfjoke/setup-tectonic@v4
        with:
          github-token: ${{ github.token }}

      - name: Build CV
        run: make

      - name: Prepare files for gh-pages
        run: |
          mkdir public
          mv cn/cv.pdf public/DTian_cv_cn.pdf
          mv en/cv.pdf public/DTian_cv_en.pdf

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.event_name == 'push'
        with:
          github_token: ${{ github.token }}
          publish_dir: ./public
          force_orphan: true

      - name: Upload the two pdf files as release assets
        run: gh release upload ${{ github.ref_name }} ./public/DTian_cv_cn.pdf ./public/DTian_cv_en.pdf
        if: github.event_name == 'release'
        env:
          GH_TOKEN: ${{ github.token }}