#
# Create an issue to remind me to review/update my CV.
#
name: Review reminder
on:
  schedule:
    # 10 am on the first day of every month
    - cron: '0 10 1 * *'

jobs:
  remind:
    name: Review CV
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y/%m')" >> $GITHUB_OUTPUT

      - name: Create an reminder
        run: |
          title="Review the CV for ${{ steps.date.outputs.date }}"
          read -d "#" body <<- EOF
          Any activity in the last month?
          It's time to review my activities in the last month and update the CV.
          #
          EOF
          echo $body
          gh issue create --title "$title" --body "$body"
        env:
          GH_TOKEN: ${{ github.token }}
